# Dependencias principales

crewai
ollama
streamlit
fastapi
python-multipart
pandas
huggingface-hub
uvicorn
python-dotenv
langchain
langchain-groq

# Para desarrollo

pytest
black
flake8
requests
supabase
langchain-community
faiss-cpu
pypdf
langchain-openai
sentence-transformers

openai
tiktoken
pydantic
pydantic-settings
httpx
requests
weasyprint   # instalar desde aquí también: https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases
markdown2
