# Dependencias principales

crewai
ollama
streamlit
fastapi
python-multipart
pandas
huggingface-hub
uvicorn
python-dotenv
langchain
langchain-groq

# Para desarrollo

pytest
black
flake8
requests
supabase
langchain-community
faiss-cpu
pypdf
langchain-openai
sentence-transformers
beautifulsoup4==4.12.3
lxml==5.1.0
chromadb==0.4.22
WeasyPrint==66.0
